#project-section {
  background: #000000f7;
  color: aliceblue;
}
.project__heading {
  text-align: center;
}
.project__logo {
  font-size: 4rem;
}

.projects__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5rem;
  padding: 2rem 0;
}
.project__link {
  position: relative;
  width: 25rem;
  padding: 0.3rem;
  background: #333;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.project__link:hover .projecTitle {
  opacity: 0;
}
.project__cont img {
  width: 100%;
}
.projecTitle {
  text-align: center;
  font-size: 0.7rem;
  position: absolute;
  padding: 1rem 0;
  top: 0%;
  width: 100%;
  height: 100%;
  color: white;
  background-color:rgba(0, 0, 0, 0.6);
}
.project__title{
  font-size: 1.5rem;
}
.leading-relaxed{
    padding: 0 2rem;
    color: white;
}

@media (max-width:900px){
    .project__link {
        width: 20rem;
       
      }
      .project__title{
        padding: 0;
    top: -.5rem;

        font-size: 1.4rem;
      }
}
@media (max-width:600px){
  .projecTitle {
    padding:0;
    top: -.5rem;
  }
  .project__title{
    font-size: 1.4rem;
  }
}

