#project-section {
  background: #000000f7;
  color: aliceblue;
}
.project__heading {
  text-align: center;
}
.project__logo {
  font-size: 4rem;
}

.projects__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5rem;
  padding: 2rem 0;
}
.project__link {
  position: relative;
  width: 25rem;
  padding: 0.3rem;
  background: #333;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.project__link:hover .projecTitle {
  opacity: 0;
}
.project__cont img {
  width: 100%;
}
.projecTitle {
  text-align: center;
  font-size: 0.7rem;
  position: absolute;
  padding: 1rem 0;
  top: 0%;
  width: 100%;
  height: 100%;
  color: white;
  background-color:rgba(0, 0, 0, 0.6);
}
.project__title{
  font-size: 1.5rem;
}
.leading-relaxed{
    padding: 0 2rem;
    color: white;
}

@media (max-width:900px){
    .project__link {
        width: 20rem;
       
      }
      .project__title{
        padding: 0;
    top: -.5rem;

        font-size: 1.4rem;
      }
}
@media (max-width:600px){
  .projecTitle {
    padding:0;
    top: -.5rem;
  }
  .project__title{
    font-size: 1.4rem;
  }
  .Arrow{
    font-size: 2rem;
  }
 
}

.slider{
  position:sticky;
  top: 10%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 900;
}
.sliderWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

}
.sliderWrapper img{ 
  width: 70vw;
  height: 75vh;
}
.sliderWrapper-content{ 
  position: relative;
}

.sliderWrapper a{
   position: absolute;
   bottom: 10%;
   left:40%;
   background: rgba(0, 128, 128, 0.4);
   color: white;
   padding: .3rem 1.5rem;
   text-decoration:none;
   border-radius: .3rem;
}
.sliderWrapper a:hover{
   background: white;
   color: teal;
   font-weight: 600;

}
.close{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.5rem;
  color: lightgray;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  z-index: 900;
}
.Arrowrl{
  margin: 20px;
  font-size: 40px;
  color: lightgray;
  padding: 1rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1000;
}
.Arrow:hover{
  background: rgba(255, 255, 255, 0.3);
}
.close:hover{
  background: rgba(255, 255, 255, 0.3);
}


@media (max-width:600px){
     
  .sliderWrapper img{ 
    width: 100%;
    height: 100%;
  }
  .Arrowrl{
    font-size: 100px;
    
  }
  .sliderWrapper a{
    padding: 0 1rem;
    font-size: .8rem;
   
 }
   
}