.footer-cont{
  height: 15rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;

}
.copyrights a{
  color: aqua;
}
.social__icons{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social__icons .icon {
  font-size: 1.5rem;
}